<!-- AUTODEV Enhanced: 2026-04-20T09:07:34.539297 -->
<!-- AUTODEV Enhanced: 2026-04-20T09:01:09.723927 -->
<!-- AUTODEV Enhanced: 2026-04-20T08:55:05.404593 -->
[Unit]
Description=QMOI healthcheck and PM2 restart

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/qmoi/scripts/prod-healthcheck.sh http://localhost:3000 5
User=www-data

[Install]
WantedBy=multi-user.target
