# Validation Report
Checked at: 2025-11-20T14:55:19.381353Z

## App validation summary

- **qmoi**: icons_found=True, pwa_manifest=False, service_worker=False, update_template=True, autoupdate_helpers=True
- **qcity**: icons_found=True, pwa_manifest=False, service_worker=False, update_template=True, autoupdate_helpers=True
- **qshare**: icons_found=True, pwa_manifest=False, service_worker=False, update_template=True, autoupdate_helpers=True
- **yap**: icons_found=True, pwa_manifest=False, service_worker=False, update_template=True, autoupdate_helpers=True
- **qstore**: icons_found=True, pwa_manifest=False, service_worker=False, update_template=True, autoupdate_helpers=True
- **qvillage**: icons_found=True, pwa_manifest=False, service_worker=False, update_template=True, autoupdate_helpers=True