flake8>=6.0.0
# production: # production: # production: pytest removed removed removed>=7.0.0

requests
Flask
PyYAML
aiohttp
xmlrunner
stripe
# production: # production: # production: pytest removed removed removed-cov
coverage
